<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

	
</head>

<body>

			
<div class="container">

	<h3>Patients Directory</h3>
	<hr>
	
	
	<form th:action="@{/patients/search}" class="form-inline">
	
		<input class="form-control  ml-5 mr-sm-2 mb-3" type="search" name="patientName" placeholder="Search by name" />

		<button class="btn btn-success mb-3" type="submit">Search</button>
		
    </form>

	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Action</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="tempPatient : ${patients}">
			
				<td th:text="${tempPatient.firstName}" />	
				<td th:text="${tempPatient.lastName}" />		
				
				<td>
				<div class="row">
				
					<div class="col-small">

								<form action="#" th:action="@{/patients/medList}">
									<input type="hidden" name="patientId" th:value="${tempPatient.id}" />
									<button type="submit" class="btn btn-primary btn-sm ml-3 mr-1">Show Prescription</button>

								</form>
							</div>
					
					
				</div>	
				</td>
				
				
			</tr>
		</tbody>		
	</table>
	
</div>
	
</body>
</html>